In [1]:
import sys
import matplotlib
import numpy as np
import pandas as pd
import sklearn

In [2]:
sys.version

'3.6.5 |Anaconda, Inc.| (default, Mar 29 2018, 13:32:41) [MSC v.1900 64 bit (AMD64)]'

In [3]:
np.__version__

'1.14.3'

In [4]:
pd.__version__

'0.23.0'

In [5]:
matplotlib.__version__

'2.2.2'

In [6]:
sklearn.__version__

'0.19.1'

# pandas

In [7]:
# load data
path = './datasets/00/data.csv'
data = pd.read_csv(path)

In [8]:
type(data)

pandas.core.frame.DataFrame

In [9]:
data

     x    y
0  -10  100
1   -9   81
2   -8   64
3   -7   49
4   -6   36
5   -5   25
6   -4   16
7   -3    9
8   -2    4
9   -1    1
10   0    0
11   1    1
12   2    4
13   3    9
14   4   16
15   5   25
16   6   36
17   7   49
18   8   64
19   9   81
20  10  100

In [10]:
# 获取所有行的 x列
x, y = data.loc[:, 'x'], data.loc[:, 'y']
type(x), type(y)

(pandas.core.series.Series, pandas.core.series.Series)

In [11]:
x, y

(0    -10
 1     -9
 2     -8
 3     -7
 4     -6
 5     -5
 6     -4
 7     -3
 8     -2
 9     -1
 10     0
 11     1
 12     2
 13     3
 14     4
 15     5
 16     6
 17     7
 18     8
 19     9
 20    10
 Name: x, dtype: int64, 0     100
 1      81
 2      64
 3      49
 4      36
 5      25
 6      16
 7       9
 8       4
 9       1
 10      0
 11      1
 12      4
 13      9
 14     16
 15     25
 16     36
 17     49
 18     64
 19     81
 20    100
 Name: y, dtype: int64)

In [12]:
x_large_50 = data.loc[y>50, :]
x_large_50

     x    y
0  -10  100
1   -9   81
2   -8   64
18   8   64
19   9   81
20  10  100

In [13]:
data.head()

    x    y
0 -10  100
1  -9   81
2  -8   64
3  -7   49
4  -6   36

In [14]:
# save
new_path = './datasets/00/new_data.csv'
x_large_50.to_csv(new_path, index=False)